<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>smiley_0.png</key>
	<string>:0)</string>
	<key>smiley_1.png</key>
	<string>:1)</string>
	<key>smiley_2.png</key>
	<string>:2)</string>
	<key>smiley_3.png</key>
	<string>:3)</string>
	<key>smiley_4.png</key>
	<string>:4)</string>
	<key>smiley_5.png</key>
	<string>:5)</string>
	<key>smiley_6.png</key>
	<string>:6)</string>
	<key>smiley_7.png</key>
	<string>:7)</string>
	<key>smiley_8.png</key>
	<string>:8)</string>
	<key>smiley_9.png</key>
	<string>:9)</string>
	<key>smiley_10.png</key>
	<string>:10)</string>
	<key>smiley_11.png</key>
	<string>:11)</string>
	<key>smiley_12.png</key>
	<string>:12)</string>
	<key>smiley_13.png</key>
	<string>:13)</string>
	<key>smiley_14.png</key>
	<string>:14)</string>
	<key>smiley_15.png</key>
	<string>:15)</string>
	<key>smiley_16.png</key>
	<string>:16)</string>
	<key>smiley_17.png</key>
	<string>:17)</string>
</dict>
</plist>
